.logo-corner {
    width: 200px;
}

.general-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lesson-name {
    text-align: center;    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: #ff8c8c;
}


.lesson-end-button {
    margin: auto;
    margin-top: 20px;
    height: 60px;
    width: 300px;


    border-radius: 20px;
    border-width: 0px;
    
    background-color: #ff8c8c;

    color: white;
    font-weight: bold;
    font-size: 20px;
    
    transition-property: box-shadow, scale;
    transition-duration: 500ms;
}
.lesson-end-button:hover {
    cursor: pointer;    
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    scale: 1.03;
}
.lesson-end-button:active {
    background-color: #ff7e7e;
}



.text-lesson-player {
    background-color: #ab9eff;
    border-radius: 30px;
    margin: 0 30%;

    display: flex;
    flex-direction: column;

    width: 1fr;
    height: 1fr;
    
}

.lesson-text {
    text-align: center;
    margin: 40px 40px;

    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.text-lesson-player-button {
    background-color: transparent;
    border-radius: 3000px;
    color: #fa6e6e;
    border: none;

    padding: 0px;

    scale: 1.9;

    margin: 48.3%;
}
.text-lesson-player-button:hover {
    cursor: pointer;
    scale: 2.2;
    color: #ff5a5a;
}
#text-lesson-player-button-next {
    margin-top: 30px; 
    margin-bottom: 0px;
}
#text-lesson-player-button-previous {
    margin-bottom: 23px;
    margin-top: 0px;
}




/*Google icons styles.*/
.material-symbols-outlined {
    margin: 0px;
    font-variation-settings:
  'FILL' 1,
  'wght' 900,
  'GRAD' 0,
  'opsz' 48
}
