.logo-corner {
    width: 200px;
}

.general-container {
    display: flex;
    width: 1fr;
    justify-content: center;
    flex-direction: column;
}

.choose-set-label {
    text-align: center;    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: #ff8c8c;
}



.set-list {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    width: 90%;
}
.set-container {
    margin: 10px;
    width: 1fr;
    height: 133px;

    border-radius: 40px;
    background: linear-gradient(240deg, rgba(255, 140, 140, 1) 0%,rgba(255, 140, 140, 0.55) 100%);

    display: flex;
    flex-direction: column;
    align-items: start;

    transition: all 300ms;
}
.set-container.set-special {
    background: linear-gradient(240deg, #ab9eff 0%,#c8c0ff 100%);
}
.set-container:hover {
    height: 333px
}
.set-container.set-long:hover {
    height: 530px
}


.set-data {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nombreset-label {
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(87, 84, 84, 1);
    font-size: 40px;
    font-weight: bold;  
}
.numlecciones-label{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(87, 84, 84, 1);
    font-size: 30px;
    font-weight: bold;  
}



.lessons-container {
    margin: auto;
    display: flex;
}
.lesson-container {
    margin: 11px;
    margin-bottom: 10px;
    width: 200px;
    height: 140px;
    border-radius: 25px;
    background-color: rgba(248, 130, 130, 1);
    border: 5px solid rgba(87, 84, 84, 1);
    opacity: 0;

    margin-top: 50px;

    transition: margin-top 800ms,opacity 800ms, box-shadow 300ms, scale 80ms;
    
}
.lesson-container.lesson-special{
    background-color: 
    #9e8fff;
}
.generated {
    margin-top: 0px;
    opacity: 1;
}
.lesson-container:hover{
    cursor: pointer;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    scale: 1.03;

}
.namelesson-label {
    width: 198.44px;
    margin: 20px 0px 0px 10px;
    color: rgba(87, 84, 84, 1);
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.durlesson-label {
    width: 168px;
    margin: 20px 0px 0px 10px;
    color: rgba(87, 84, 84, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;  
}

@media (max-width: 1100px) {
    .lesson-container {
        width: 150px;
        height: 120px;
    }
    .namelesson-label {
        font-size: 15px;
        width: 140px;
    }
    .durlesson-label {
        font-size: 15px;
        width: 130px;
    }
}
@media (max-width: 870px) {
    .nombreset-label {
        font-size: 30px;
    }
    .namelesson-label {
        font-size: 20px;
    }

    .lesson-container {
        width: 120px;
        height: 120px;
    }
    .namelesson-label {
        font-size: 15px;
        width: 140px;
    }
    .durlesson-label {
        font-size: 15px;
        width: 130px;
    }
}

@media (min-width:1350px) {
    .set-list {
        width: 1215px;
    }
}
